
.second-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    color: #000000;
    
    margin-bottom: 8px;

    position: relative;
}





.upper-space {
    background: #F2F2F2;
  height: 4rem;
  margin-top: 11rem;
}

.upcomming-pool {
  position: relative;
  background-image: url('../images/upcomming-bg-line.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5rem;


}

.upcomming-content {
  padding: 2rem;
}

.upcomming-bg {
  background: #F2F2F2;
}

.left-arro {
  margin-left: 76px;
}

.right-arro {
  margin-left: 92px;
}

.upcomming-content .second-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 35px;
  position: relative;
}

.upcomming-content .second-heading::before{
  position: absolute;
  content: "";
  width: 191px;
  height: 43px;
  background: #f2f2f2;
  margin-left: 28rem;
  margin-top: -2rem;
}





.upcomming-content-div {
  display:flex;
}

.feature-content-div > div {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2rem;
    width: 31%;
    margin-left: 1.3rem;
    display: inline-block;
}

.name p {
  font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
margin-top: -9px !important;
margin-left: 9px;

text-transform: uppercase;
font-feature-settings: 'salt' on;

color: #4F4F4F;
}


.almuni-pools .content-div-one {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 20px;
  display: inline-block;
  box-shadow: none;
}

.almuni-pools .content-div-one:hover {
  border: 1px solid var(--primary);
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.2), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
}

.feature-content-div > div:hover {
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.2), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
}
.featured .ant-progress-show-info .ant-progress-outer {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.ant-progress-inner {
    background: #E4ECF7;
}

.ant-progress-bg {
    background-color: var(--primary);
}



.upcomming-div-head {
  display: flex;
  justify-content: space-between;
}

.light-para {
    font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 23px;

font-feature-settings: 'salt' on;

color: #4F4F4F;

}

.progress-text {
    display: flex;
    justify-content: space-between;
}

.logo-container {
  display: flex;
}

.name h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 136.52%;
  margin-left: 11px;
  margin-top: 6px;
  color: #333333;

}

.in-days >div{
  background: #3fff8f21;
  border-radius: 100px;
  padding: 1px 7px 1px 6px;

}


.in-days li {
font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 12px;

text-align: center;

color: #219653;
}

.little-space {
  margin-bottom:1.3rem;
}

.total-raise p {
  margin-bottom: 2px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 162.02%;
  text-transform: uppercase;
  font-feature-settings: 'salt' on;
  color: #4F4F4F;
  margin-top: 1.3rem !important;
}

.total-raise h1 {
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 27px;
margin-top: 0;
line-height: 136.02%;


color: var(--primary);
}

.progress-home {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.upcomming-info {
  display: flex;
  justify-content: space-between;

}

.small-para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 23px;
  margin-top: 1rem;
  margin-bottom: 2px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-feature-settings: 'salt' on;
  color: #4F4F4F;
}

.upcomming-info h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 136.02%;
  text-transform: uppercase;
  margin-top: 0;
  color: var(--primary);
  
} 

.featured .ant-progress-text {
    display: none !important;
}

.progress-para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    /* font-feature-settings: 'salt' on; */
    color: #4F4F4F;
    margin-bottom: -1px;
}

.progress {
    margin-top: 1.5rem;
    margin-bottom: 2px;
}

.in-days-progress {
  display: flex;
}

.filled {
  background: #ff99331a;
  border-radius: 100px;
  margin-left: 8px;
  margin-top: 4px;
  padding: 1px 5px 3px 5px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.filled li {
  font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;

text-align: center;

color: #FF9F47;
}

/* dark mode of featured */

.dark-mode .upcomming-content .second-heading::before{

  background: transparent;
 
}

.dark-mode .upper-space {
  display: none;
}

.dark-mode .upcomming-bg {
  background: var(--dark-primary);
}

.dark-mode .upcomming-pool {
  padding-bottom: 0rem;
  padding-top: 14rem;
  margin-top: -37px;
}



button {
  outline: none;
}

.dark-mode .upcomming-content .second-heading {
  color: #fff;
}

.dark-mode .second-heading {
  color: #fff;
}

.dark-mode .upcomming-content-div > div {
  background: #30444E;
box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
border-radius: 20px;
}

.dark-mode .total-raise p {
  color:var(--grey);
  margin-top: 2rem;
}

.dark-mode .name h3 {
  color: #fff;
}

.dark-mode .small-para {
  color: var(--grey);
}

.dark-mode .feature-content-div > div {
  background: #30444E;
  border: 1px solid #30444E;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
  border-radius: 20px;
}

.dark-mode .feature-content-div > div:hover {
  border: 1px solid #4C6FFF;
  border: 1px solid #4C6FFF;
box-sizing: border-box;
box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.2), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
}

.dark-mode .light-para {
  color: var(--grey);
}

.dark-mode .name p {
  color: var(--grey);
 
}

.dark-mode .progress-para {
  color: var(--grey);
}

.dark-mode .participate p {
  color: var(--grey);
}

.para-dark-mode {
  display: none;
}

.dark-mode .para-dark-mode {
  display: block ;
  color: #fff;
}

.progress {
  display: -ms-flexbox;
  overflow: hidden;
  line-height: 0;
  font-size: .75rem;
  background-color: #fff;
  border-radius: .25rem;
}